# Phase 2: Song identification & metadata
pyacoustid
musicbrainzngs
mutagen

# Phase 3: Audio analysis & feature extraction
numpy
soundfile
librosa

# Phase 4: Lyrics retrieval & Multimodal Sentiment Engine
deep-translator
transformers
torch --index-url https://download.pytorch.org/whl/cpu
